body {
  font-family: 'Roboto', sans-serif;
}

button {
  border: 1px solid rgb(182, 182, 182);
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
  font-size: 1em;
  border-radius: .5em;
}

button:hover {
  border: none;
  background: #272D2D;
  color: white;
  padding: 10px;
}

button:focus {
  outline: none;
  background: rgb(117, 124, 124);
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #9aa4aa;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #dadada;
}

.centered-form form {
  background: rgb(238, 238, 238);
  border-radius: .5em;
  padding: 2em;
  box-shadow: 0 0 15px rgb(128, 128, 128);
}

.chat {
  margin: 0;
  padding: 0;
  background: #FBFAF8;
}

.chat-footer {
  min-height: 40px;
  padding: 1em;
  display: flex;
  background: rgb(241, 241, 241);
}

.chat-footer button {
  margin: 0 .2em;
}

.chat-footer form {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}

.chat-footer form * {
  margin: 0 .2em;
}

.chat-footer input[type="text"] {
  flex-grow: 2;
  padding: .5em;
  font-size: 1em;
  border-radius: .5em;
  border: none;
}

.chat-footer input[type="text"]:focus {
  outline: none;
}

.chat-main {
  flex-grow: 2;
  max-width: 80%;
  margin-left: 1em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgb(236, 236, 236);
}

.chat-main ul {
  margin: 1.5em;
  padding: 0;
}

.chat-messages {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chat-messages::-webkit-scrollbar {
  width: .4em;
}

.chat-messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chat-messages::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.chat-messages li {
  list-style: none outside;
}

.chat-sidebar {
  padding: 1em;
  overflow-y: auto;
  flex-grow: 1;
  max-width: 20%;
  border-right: 1px solid rgb(236, 236, 236);
  background: white;
}

.chat-sidebar h3 {
  text-align: center;
}

.form-field {
  padding: .8em 0;
}

.form-field .title {
  text-align: center;
  font-size: 1.8em;
}

.form-field * {
  width: 100%;
  margin: .2em auto;
}

.form-field input[type="text"] {
  padding: .5em;
  font-size: 1em;
  border-radius: .5em;
  background: white;
  border: none;
  width: 95%;
}

.form-field input[type="text"]:focus {
  outline: none;
}


.message-item {
  border-radius: .5em;
  background: rgb(241, 241, 241);
  padding: 1.5em;
  margin: 1em auto;
}

.message-sender {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.message-body {
  color: #61707D;
  overflow-wrap: break-word;
}

.message-time {
  float: right;
  font-size: .9em;
}

.message-location {
  display: block;
}

.wrapper {
  max-width: 80%;
  min-height: 96vh;
  max-height: 96vh;
  margin: 1em auto;
  display: flex;
  box-shadow: 0 0 20px rgb(128, 128, 128);
  justify-content: space-around;
  background: rgb(245, 244, 244);
}

#users ol {
  padding: 1em;
  margin: 0;
}

#users li {
  list-style: none;
  padding: 1em;
  margin: .5em;
  background: rgb(241, 241, 241);
  border-radius: .5em;
}

@media (max-width: 600px) {
  .chat-sidebar {
    display: none;
  }

  .chat-footer {
    flex-direction: column-reverse;
    min-height: 80px;
  }

  .chat-footer * {
    margin-top: .2em;
    margin-bottom: .2em;
  }

  .wrapper {
    max-width: 100%;
  }
}