
button {
  border: none;
  background: #61707D;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
  font-size: 1em;
  border-radius: .5em;
}

button:hover {
  border: none;
  background: #272D2D;
  color: white;
  padding: 10px;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.chat {
  margin: 0;
  padding: 0;
  background: #FBFAF8;
  font-family: 'Roboto', sans-serif;
}

.chat-footer {
  min-height: 40px;
  padding: 1em;
  display: flex;
  background: rgba(151, 151, 151, .5);
}

.chat-footer button {
  margin: 0 .2em;
}

.chat-footer form {
  flex-grow: 2;
  display: flex;
  justify-content: space-around;
}

.chat-footer form * {
  margin: 0 .2em;
}

.chat-footer input[type="text"] {
  flex-grow: 2;
  padding: .5em;
  font-size: 1em;
  border-radius: .5em;
  border: none;
}

.chat-footer input[type="text"]:focus {
  outline: none;

}

.chat-main {
  flex-grow: 2;
  max-width: 80%;
  margin-left: 1em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgb(236, 236, 236);
}

.chat-main ul {
  margin: 1.5em;
  padding: 0;
}

.chat-messages {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chat-messages li {
  list-style: none outside;
}

.chat-sidebar {
  padding: 1em;
  overflow-y: auto;
  flex-grow: 1;
  max-width: 20%;
  border-right: 1px solid rgb(236, 236, 236);
  background: white;
}

.message-item {
  border-radius: .5em;
  background: rgb(241, 241, 241);
  padding: 1.5em;
  margin: 1em auto;
}

.message-sender {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.message-body {
  color: #61707D;
  overflow-wrap: break-word;
}

.message-time {
  float: right;
  font-size: .9em;
}

.message-location {
  display: block;
}

.wrapper {
  max-width: 80%;
  min-height: 96vh;
  max-height: 96vh;
  margin: 1em auto;
  display: flex;
  box-shadow: 0 0 20px black;
  justify-content: space-around;
  background: rgb(245, 244, 244);
}

@media (max-width: 600px) {
  .chat-sidebar {
    display: none;
  }

  .chat-footer {
    flex-direction: column-reverse;
  }

  .chat-footer * {
    margin-top: .2em;
    margin-bottom: .2em;
  }

  .wrapper {
    max-width: 100%;
  }
}